<p-button (click)="showDialog()" icon="pi pi-plus-circle" label="Agregar Nuevo"></p-button>
<p-dialog header="Ingresar Categoria" [(visible)]="visible" [style]="{width: '50vw'}">
  <div class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
  <form>
    <div class="grid gap-6 mb-6">
      <div>
        <label for="categoria" class="block mb-2 text-sm font-medium text-gray-900">Categoria <span class="text-red-600">*</span></label>
        <input type="text" id="categoria" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
        <button type="submit" class="text-white my-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Guardar</button>
      </div>
   </div>
  </form>
</div>
</p-dialog>
