<section class="container p-4 bg-slate-300">
   <div class="bg-slate-50">
    <div class="card">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div  class="grid grid-cols-2 border-gray-300 border justify-center">
      <h1 class="text-xl font-bold p-4">Clientes</h1>
  <div class="grid grid-cols-2 justify-center items-center justify-items-center">
      <modal-crearcliente></modal-crearcliente>
      <p-button label="Imprimir Reporte" icon="pi pi-print"></p-button>
   <!-- <app-paginator></app-paginator>-->
  </div>
</div>
<div>

</div>
   </div>

</section>
