<section class=" p-4 bg-slate-200 h-full">
  <div class="bg-slate-50">
   <div class="card">
     <p-breadcrumb [model]="itemsNav" [home]="home"></p-breadcrumb>
 </div>
 <div  class="grid grid-cols-2  justify-center">
     <h1 class="text-xl font-bold p-4">Marca</h1>
 <div class="grid justify-center items-center justify-items-center">
  <app-crear-marca />
 </div>
</div>
<hr>
<!--table-->
 <div class="relative overflow-x-auto sm:rounded-lg p-4">
   <table class="w-full text-sm border border-gray-300 text-center">
       <thead class="bg-gray-300">
           <tr>
               <th scope="col" class="px-6 py-3">
                 Marca
               </th>
               <th scope="col" class="px-6 py-3">
                 Estado
               </th>
               <th scope="col" class="px-6 py-3">
                Opciones
              </th>
           </tr>
       </thead>
       <tbody >
          @for (marca of marcas(); track marca) {
           <tr  class="odd:bg-white  even:bg-gray-50  border-b ">
             <td class="px-6 py-4">
              {{marca.nombre}}
             </td>
             <td class="px-6 py-4">
                 <p class="font-medium" [ngClass]="marca.estado == 'Activo' ? 'text-green-500' :  'text-red-500'">{{marca.estado}}  </p>
             </td>
             <td class="card gap-4 flex justify-center p-4">
              <button><i class="pi pi-file-edit"></i></button>
             <button><i class="pi pi-trash"></i></button>
             
             </td>
            
           </tr>
          }
       </tbody>
   </table> 
 </div>
 <!--message-->
<div class="p-4">
<span>Mostrando del registro 1 al {{ marcas().length }} de un total de {{ marcas().length }} datos</span>
 <div></div>
</div>
  </div>

</section>
