<p-button
  (click)="showDialog()"
  icon="pi pi-user-plus"
  label="Agregar Nuevo/a"
></p-button>
<p-dialog
  header="Ingresar Cliente"
  [(visible)]="visible"
  [style]="{ width: '50vw' }"
>
  <p-card [formGroup]="form">
    <p-messages
      [(value)]="messages"
      [enableService]="false"
      [closable]="false"
    ></p-messages>
    <ng-template pTemplate="body">
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        @for (item of structure; track $index) {
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            [for]="item.formControlName"
            >{{ item.label }}</label
          >
          @switch (item.type) {
            @case ("text") {
              <input
                type="text"
                class="w-full"
                pInputText
                [id]="item.formControlName"
                [formControlName]="item.formControlName"
              />
            }
            @case ("select") {
              <p-listbox
                [options]="item.options ?? []"
                [formControlName]="item.formControlName"
                optionLabel="label"
                [style]="{ width: '15rem' }"
                [listStyle]="{ 'max-height': '220px' }"
              />
            }
          }
        }
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          label="Cancel"
          severity="secondary"
          class="w-full"
          styleClass="w-full"
        />
        <p-button
          label="Guardar"
          severity="primary"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </ng-template>
  </p-card>
</p-dialog>
