<div class="sidebar w-72 h-full bg-gray-800 text-white">
    <ul>
        <li *ngFor="let item of items">
            <a [routerLink]="item.routerLink" (click)="toggleSubMenu(item)" class="flex justify-between items-center py-3 px-4 hover:bg-gray-400">
                {{ item.label }}
                <span *ngIf="item.items && item.items.length" class="pi pi-chevron-down"></span>
            </a>
            <ul *ngIf="item['active'] && item.items">
                <li class="h-11 py-3 px-4 hover:bg-gray-400" *ngFor="let subItem of item.items">
                    <a [routerLink]="subItem.routerLink">{{ subItem.label }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>