<section class=" p-4 grid gap-6 h-full bg-slate-200">
    <!--datos empresa-->
    <div class="p-4 grid border shadow-lg bg-slate-50">
        <form>
            <div class="grid gap-6 mb-6 md:grid-cols-3">
              <div>
                <label for="empresa" class="block mb-2 text-sm font-medium text-gray-900">Empresa</label>
                <input type="text" id="empresa" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 bg-gray-100" disabled >
               </div>
                <div>
                    <label for="emision" class="block mb-2 text-sm font-medium text-gray-900 ">Fecha Emisión</label>
                    <input type="text" id="emision" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 bg-gray-100" disabled>
                </div>
                <div>
                    <label for="document" class="block mb-2 text-sm font-medium text-gray-900 ">Nro. Documento</label>
                  <input type="number" id="document" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 bg-gray-100" disabled>
              </div>
                <div>
                    <label for="vendedor" class="block mb-2 text-sm font-medium text-gray-900 ">Vendedor</label>
                    <select class="border border-gray-300 w-full py-1.5 rounded-md" name="" id="">
                        <option value="">Vendedor1</option>
                    </select>
                </div>
                <div>
                    <label for="tipo_pago" class="block mb-2 text-sm font-medium text-gray-900 ">Tipo de Pago</label>
                    <select class="border border-gray-300 w-full py-1.5 rounded-md" name="" id="">
                        <option value="">Contado</option>
                    </select>
                </div>
                <div>
                    <label for="direccion" class="block mb-2 text-sm font-medium text-gray-900 ">Metodo de Pago</label>
                    <select class="border border-gray-300 w-full py-1.5 rounded-md" name="" id="">
                      <option value="">Tarjeta</option>
                  </select>
                  </div>
                </div>
          </form>
    </div>

    <!--datos de cliente-->
    <div class="border shadow-lg bg-slate-50">
      <div class="bg-gray-300 p-2">
        <h3>Datos del Cliente</h3>
      </div>
        <form >
            <div class="grid gap-6 mb-6 md:grid-cols-2 p-4">
                <div>
                    <label for="vendedor" class="block mb-2 text-sm font-medium text-gray-900 ">Tipo Documento</label>
                    <select class="w-full py-1.5 rounded-md border border-gray-300" name="" id="">
                        <option value="">DNI</option>
                        <option value="">RUC</option>
                    </select>
                </div>
                <div>
                    <label for="nro_documento" class="block mb-2 text-sm font-medium text-gray-900 ">Documento</label>
                    <input type="number" id="nro_documento" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
                </div>
                <div>
                    <label for="razon_social" class="block mb-2 text-sm font-medium text-gray-900 ">Nombre o Razon Social</label>
                    <input type="text" id="razon_social" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
                </div>
                <div>
                  <label for="direccion" class="block mb-2 text-sm font-medium text-gray-900 ">Dirección</label>
                  <input type="text" id="direccion" class=" border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" required>
                </div>
            </div>
          </form>
    </div>
    <!--detalle venta-->
    <div class="border shadow-lg bg-slate-50">
        <div class="bg-gray-300 p-2">
            <h3>Detalle</h3>
          </div>
        <div class="p-4 grid gap-2">
            <label for="producto">Producto</label>
            <div >
                <input class="border border-gray-300 mr-3 w-1/3" type="text" id="producto">
                <button type="button" class="text-white bg-blue-700  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 focus:outline-none"><i class="pi pi-search"></i> Consultar</button>
            </div>
        </div>
        <div class="relative overflow-x-auto sm:rounded-lg p-4">
            <table class="w-full text-sm text-left rtl:text-right border border-gray-300">
                <thead class="text-xsuppercase bg-gray-300 ">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nombre
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Cant.
                        </th>
                        <th scope="col" class="px-6 py-3">
                         P.Unitario
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Dscto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            P.Total
                            </th>
                        <th scope="col" class="px-6 py-3">
                          Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd:bg-white  even:bg-gray-50 border-b ">
                        <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                           Sebastian Huertas
                        </th>
                        <td class="px-6 py-4">
                         2
                        </td>
                        <td class="px-6 py-4">
                          S/ 50
                        </td>
                        <td class="px-6 py-4">
                        S/ 25
                        </td>
                        <td class="px-6 py-4">
                          s/500
                        </td>
                        <td class="px-6 py-4">
                          <button class="bg-red-600 rounded-md cursor-pointer focus:ring-2 focus:ring-red-300 focus:outline-none p-2"><i class="pi pi-trash  text-white "></i>
                          </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="mt-auto p-4">
                <div class="flex justify-end">
                    <label for="importeTotal" class="mr-2">Importe Total S/.</label>
                    <input type="text" id="importeTotal" class="border-gray-300 border">
                </div>
            </div>
              </div>
    </div>
<div class="grid justify-center">
  <button type="submit" class="text-white my-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Guardar</button>
</div>
  </section>
